<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="~/Scripts/TechnocratWeb/lib/angular-date-picker/angular-date-picker.css" rel="stylesheet" />
   
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app="technocrat">
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>*@
    @RenderBody()
    

        @Scripts.Render("~/bundles/angular")
        <script src="~/Scripts/TechnocratWeb/js/app.js"></script>
        <script src="~/Scripts/TechnocratWeb/js/authService.js"></script>
        <script src="~/Scripts/TechnocratWeb/js/services.js"></script>
        <script src="~/Scripts/TechnocratWeb/js/login.js"></script>
        <script src="~/Scripts/TechnocratWeb/js/controllers.js"></script>
    <script src="~/Scripts/TechnocratWeb/js/placedashboard.js"></script>
    <script src="~/Scripts/TechnocratWeb/js/addcustomforms.js"></script>
    <script src="~/Scripts/TechnocratWeb/js/formsdashboard.js"></script>
    <script src="~/Scripts/TechnocratWeb/lib/angucomplete/angucomplete.js"></script>
    <script src="~/Scripts/TechnocratWeb/lib/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="~/Scripts/TechnocratWeb/js/addRepresentative.js"></script>
    <script src="~/Scripts/TechnocratWeb/js/representativeDashboard.js"></script>
    <script src="~/Scripts/TechnocratWeb/js/addPlace.js"></script>
    <script src="~/Scripts/TechnocratWeb/js/activitiesDashboard.js"></script>
    <script src="~/Scripts/TechnocratWeb/js/updateCategory.js"></script>
    <script src="~/Scripts/TechnocratWeb/js/RetailAudits_List.js"></script>
    <script src="~/Scripts/TechnocratWeb/js/productLIst.js"></script>
    <script src="~/Scripts/TechnocratWeb/js/productDetail.js"></script>
    <script src="~/Scripts/TechnocratWeb/js/newRetailAudit.js"></script>
    <script src="~/Scripts/TechnocratWeb/js/homeNews.js"></script>
    <script src="~/Scripts/TechnocratWeb/js/dialog.js"></script>
    <script src="~/Scripts/TechnocratWeb/js/addProduct_Setting.js"></script>
    <script src="~/Scripts/TechnocratWeb/js/addProduct.js"></script>
    <script src="~/Scripts/TechnocratWeb/js/addCategory.js"></script>

    <script src="~/Scripts/TechnocratWeb/lib/angular-date-picker/angular-date-picker.js"></script>
    <script src="~/Scripts/TechnocratWeb/js/complecContro.js"></script>
   
        @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
</body>
</html>
